@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,500;10..48,700&display=swap');

body{
  font-family: 'Bricolage Grotesque', sans-serif;
}

.card-user{
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}