{% extends "layout.twig" %}

{% block content %}

{{ flash('error') | raw }}

<form action="/login" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    {{ flash('email') | raw }}
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" value="galvao.emily@brito.com">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    {{ flash('password') | raw }}
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" value="123">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}