{% extends "layout.twig" %}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="text-center text-danger fs-5 fst-italic">
              {# error aqui #}
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create User</p>

                <form class="mx-1 mx-md-4" method="post" action="/user">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">First Name</label>
                      <input type="text" id="form3Example1c" class="form-control" name="firstName" placeholder="Your First Name" value="Alexandre" />
                      {{ flash('firstName') | raw }}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">last Name</label>
                      <input type="text" id="form3Example1c" class="form-control" name="lastName" placeholder="Your Last Name" value="Cardoso" />
                      {{ flash('lastName') | raw }}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Your Email</label>
                      <input type="text" id="form3Example3c" class="form-control" name="email" placeholder="Your Email" value="xandecar@hotmail.com" />
                      {{ flash('email') | raw }}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c">Password</label>
                      <input type="password" id="form3Example4c" class="form-control" name="password" placeholder="Your Password" value="123" />
                      {{ flash('password') | raw }}
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Create</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}